<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a Gab!</title>
  </head>
  <body>
    <form class="" action="/gab/create" method="post">
      <textarea name="gab-text" rows="8" cols="60" value="" maxlength='140' placeholder="Enter a gab of 140 characters or fewer"></textarea>
      <input type="submit" name="" value="Post Your Gab!">
    </form>
  </body>
</html>
