<div class="container">
  <form class="" action="/gab/create" method="post">
    <textarea name="gabtext" rows="8" cols="60" value="" maxlength='140' placeholder="Enter a gab of 140 characters or fewer"></textarea>
    <input type="submit" name="" value="Post Your Gab!">
  </form>
</div>
