<div class="container">
  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{user.name}}</h3>
  </div>
  <div class="panel-body">
    {{gab.text}}
    <br>
    Likes: {{likes.length}}
  </div>
</div>
</div>
