<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gab List</title>
  </head>
  <body>
    {{#gabList}}
    {{text}} --  {{user_id}}
    <br>
    <form class="" action="/gab/like" method="post">
      <input type="hidden" name="id" value="{{id}}">
      <input type="submit" name="" value="Like">
    </form>
    {{/gabList}}
  </body>
</html>
