<div class="container">
  <section class="gab-list">
    {{#gabList}}
    {{text}} --  {{user_id}}
    <br>
    {{#showLikeIfNotOwner}}
    {{loggedInUser}}
    {{/showLikeIfNotOwner}}
    <form class="" action="/gab/{{id}}" method="get">
      <input type="hidden" name="id" value="{{id}}">
      <input type="submit" name="" value="Details">
    </form>
    {{/gabList}}
  </section>
</div>
