
<div class="container">
  <form class="user-login" action="/user/login" method="post">
    <input type="hidden" name="next" value="{{next}}">
    <label for="name">Name: </label>
    <input type="text" name="name" value="">
    <br>

    <label for="password">Password: </label>
    <input type="password" name="password" value="">
    <br>

    <button type="submit" class="btn btn-success" name="">Login</button>
  </form>
</div>
