<div class="container">
  {{#gabList}}
    {{text}}
    <form action="/gab/delete/{{id}}" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <br>
  {{/gabList}}
</div>
